<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <ItemGroup>
    <PackageReference Include="Dapper" Version="2.0.123" />
    <PackageReference Include="Microsoft.Data.SqlClient" Version="3.0.1" />
    <PackageReference Include="Microsoft.Extensions.Hosting" Version="5.0.0" />
    <PackageReference Include="MySql.Data" Version="8.0.26" />
    <PackageReference Include="Newtonsoft.Json" Version="13.0.3" />
    <PackageReference Include="Npgsql" Version="5.0.10" />
    <PackageReference Include="Oracle.ManagedDataAccess.Core" Version="3.21.150" />
  </ItemGroup>
  <RestoreProjectStyle>PackageReference</RestoreProjectStyle>
</configuration>
